.wrapper {max-width: 1200px; margin: auto;}

.swiper-button-prev, .swiper-button-next, .swiper-pagination * {outline: none;}
.swiper-pagination {width: 100%; text-align: center;}
.swiper-pagination .swiper-pagination-bullet {margin: 4px;}

.best-wrapper > .swiper-container {width: calc(100% - 100px); margin: auto;}

